---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestEvents from "../components/widgets/BlogLatestEvents.astro";

const metadata = {
  title: 'Karlsruhe sagt Nein zur Bezahlkarte',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[

      {text: '<nobr>Häufige Fragen</nobr>', href: '/faq', icon: 'tabler:question-mark'},
      {text: '<nobr>Termine</nobr>', href: '/termine', icon: 'tabler:calendar'},
      {
        variant: 'primary',
        text: '<nobr>Mitmachen</nobr>',
        href: '/mitmachen',
        icon: 'tabler:exclamation-mark',
      }]}
    image={{
      src: '~/assets/images/logo.webp',
      alt: 'Grünes Logo mit einer durchgestrichenen Illustration einer Bezahlkarte. Der umlaufende Text in Großbuchstaben lautet: "KARLSRUHE SAGT NEIN ZUR BEZAHLKARTE".'
    }}
  >
    <Fragment slot="title">
      Karlsruhe sagt <span class="text-accent highlight">Nein zur Bezahlkarte</span>
    </Fragment>

    <Fragment slot="subtitle">
          Karlsruhe führt eine diskriminierende Bezahlkarte für Geflüchtete ein. <br/>
          Damit dürfen nur noch 50 € Bargeld im Monat abgehoben werden <br/> und Bezahlungen sind nur noch eingeschränkt möglich.<br/>
          In vielen Städten entstehen deshalb Tauschsysteme:<br/>
          Mit der Bezahlkarte Gutscheine gekauft, werden dabei gegen Bargeld getauscht.
    </Fragment>
  </Hero>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestEvents
    id="Termine"
    title="Termine"
  />
  <BlogLatestPosts
    id="Blog"
    title="Lies mehr im Blog"
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="Weitere Ressourcen"
    title="Finde mehr heraus auf unserer Ressourcen oder FAQ Seite"
    actions={[

      {
        variant: 'primary',
        text: 'Ressourcen',
        href: '/ressourcen',
        target: '_self',
        icon: 'tabler:book',
      },
      {
        variant: 'secondary',
        text: 'FAQ',
        href: '/faq',
        target: '_self',
        icon: 'tabler:question-mark',
      },
    ]}
  >
  </CallToAction>
</Layout>
