---
import Layout from '~/layouts/PageLayout.astro';
import Image from "../components/common/Image.astro";
import imgSoFunktinoiertEs from "~/assets/images/so-funktionierts.png";
import imgBaldGehtsLos from "~/assets/images/bald-gehts-los.png";
import Features2 from "../components/widgets/Features2.astro";
import Button from "../components/ui/Button.astro";

const metadata = {
  title: 'Mitmachen',
};
---

<Layout metadata={metadata}>
  <Features2
    id="Tauschprozess"
    title="So funktioniert es"
    columns={3}
    items={[
      {
        description: 'Eine Person mit Bezahlkarte kauft mit dieser einen Gutschein, den sie bei uns gegen Bargeld eintauscht, das sie für wichtige Ausgaben nutzen kann.'
      },
      {
        description: 'Du bringst Bargeld, z. B. 50€, zur <a href=/tauschorte>Tauschbörse</a> und erhältst im Gegenzug einen dieser Einkaufsgutschein in gleicher Höhe. '
      },
      {
        description: "<a href=/tauschorte>Tauschorte findest Du hier</a>.<br> Damit wir ausreichend Gutscheine tauschen können, kannst Du hier auch spenden."
      },
    ]}
  />
    <div class="flex justify-evenly mb-16">
        <Button text="Tauschen" variant="primary" icon="tabler:exchange" href="/tauschorte" class="w-1/4" />
        <Button text="Spenden" variant="primary" icon="tabler:coin-euro" href="https://www.goodcrowd.org/bargeld-statt-bevormundung-nein-zur-bezahlkarte" class="w-1/4" />
        <Button text="Informieren" variant="primary" icon="tabler:library" href="/ressourcen" class="w-1/4" />
    </div>
  <Image src={imgSoFunktinoiertEs}
         alt="Infografik mit dem Titel 'SO FUNKTIONIERT’S:', die ein Tauschsystem für Geld und Gutscheine erklärt. In der Mitte ist ein stilisiertes Geschäft, von dem vier Pfeile ausgehen. Links oben: 'Du bringst (z.B.) 50€ Bargeld zur Tauschbörse' mit einem Münzsymbol. Rechts oben: 'Eine geflüchtete Person kauft einen Gutschein für (z.B.) 50€' mit einem Gutschein-Symbol. Links unten: 'Du erhältst einen Gutschein in Höhe von 50€ für einen Supermarkt deiner Wahl' mit einem weiteren Gutschein-Symbol. Rechts unten: 'Eine geflüchtete Person erhält deine 50€ Bargeld' mit einem Münzsymbol."
         class="mx-auto w-1/2"/>
  <Image src={imgBaldGehtsLos}
         alt="Informationsgrafik mit grün-gelbem Hintergrund. Oben steht in einem grünen Kasten der Text: 'BALD GEHT DAS TAUSCHEN LOS!'. Darunter folgt der Satz: 'Sobald die Tauschbörse eingerichtet ist, erfährst du es hier.' Unten links befindet sich ein rundes Logo mit durchgestrichenen Bezahlkarten und dem Text 'KARLSRUHE GEGEN DIE BEZAHLKARTE'."
         class="mx-auto w-1/2"/>

</Layout>
