---
import Item from '~/components/blog/EventListItem.astro';
import type { Event } from '~/types';

export interface Props {
  posts: Array<Event>;
}

const { posts } = Astro.props;
---

<ul aria-label="Terminliste">
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20" aria-label={post.title}>
        <Item event={post} />
      </li>
    ))
  }
</ul>
